body{
    margin :0%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    line-height: 2;
}

.brief-intro{
    display: inline-block;
    margin: 0px;
    font-size: 2.50rem;
    position: relative;
    bottom: 40px;
    font-weight: normal;
    color: #66BFBF;
}
.mypic{
    height: 200px;
    width: 200px;
    position: relative;
    top: 20px;
}

.football{
    width: 30%;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
 
}
.coding{
    width:30%;
    float: right;
    margin-left: 30px;
}


.top-container{
    background-color:  #c6dfe4;
    position: relative;
    padding-top: 100px;
}
.middle-container{

    position: relative;
}


.bottom-container{
    text-align: center;
    background-color: #c6dfe4;
    padding-top: 20px;
    padding-bottom: 20px;
}




.cloud1{
    position: absolute;
     right: 180px;
     top: 50px;
}

.cloud2{
    position: absolute;
    left: 300px;
}
h1{
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 5.400rem;
    color: #66BFBF;
}

h2{
    padding-top: 15px;
    color: #66BFBF;
    font-weight: 500;
    font-size: 40px;
    font-family: "papyrus",fantasy;
}
h3{
    margin: 0px;
    display: inline-block;
    padding-top: 20px;
    font-style: italic;
    font-weight:bold;
    color: #11999E;

}
.footer-link{
    color: #11999E;
}
.skill-row{
    width: 50%;
    margin:50px auto 50px auto;
    text-align: left;
    
}
hr{
    border-style: none;
    border-color:#b2d0d0;
    border-bottom-style: dotted;
    border-width: 8px;;
    width: 8%;
}

.skills{
    padding-top: 30px;
}
.profile{
  padding-bottom: 50px;
}
.intro{
    width: 30%;
    margin: auto;
}
.btn {
    background: #7be3e1;
    background-image: -webkit-linear-gradient(top, #7be3e1, #2980b9);
    background-image: -moz-linear-gradient(top, #7be3e1, #2980b9);
    background-image: -ms-linear-gradient(top, #7be3e1, #2980b9);
    background-image: -o-linear-gradient(top, #7be3e1, #2980b9);
    background-image: linear-gradient(to bottom, #7be3e1, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000807;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #0f75b8;
    text-decoration: none;
  }
  .footer-copyright{
    margin-bottom: 0%;
    color: #0f75b8;
    font-size: 70%;
    
  }
  a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:10px 15px;
    text-decoration: none;
  }
  a:hover{
    color: #ffffff;
    
  }
